{
	http_port 8080
	https_port 443

	order authenticate before respond
	order authorize before basicauth

	security {
		oauth identity provider personal-github {env.PERSONAL_GITHUB_CLIENT_ID} {env.PERSONAL_GITHUB_CLIENT_SECRET}
		
        authentication portal personalportal {
			crypto default token lifetime 3600
			crypto key sign-verify {env.PERSONAL_JWT_SHARED_KEY}
			cookie domain {env.PERSONAL_SUBDOMAIN}
			enable identity provider personal-github

			transform user {
				match realm personal-github
				action add role authp/user
			}

			transform user {
				match realm personal-github
				match sub github.com/{env.PERSONAL_GITHUB_USERNAME}
				action add role authp/admin
			}
		}
		
		authorization policy personalpolicy {
			set auth url https://auth.{env.PERSONAL_SUBDOMAIN}/
			crypto key verify {env.PERSONAL_JWT_SHARED_KEY}
			allow roles authp/admin authp/user
			validate bearer header
			inject headers with claims
		}
	}
}

(tls_cloudflare) {
    tls {
        issuer acme {
            dir https://acme-v02.api.letsencrypt.org/directory
            dns cloudflare {env.CLOUDFLARE_API_TOKEN}
        }
        issuer zerossl {
            dir https://acme.zerossl.com/v2/DV90
            dns cloudflare {env.CLOUDFLARE_API_TOKEN}
        }
    }
}

auth.{env.PERSONAL_SUBDOMAIN}{
	import tls_cloudflare
	authenticate with personalportal
}

{env.PERSONAL_SUBDOMAIN}{
	import tls_cloudflare
	authorize with personalportal
	reverse_proxy {env.PERSONAL_REDIRECT_IP}
}